source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0

nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
